body{
	padding:10px;
    font-family: 'Roboto', sans-serif;
	color:#434b59;
	text-align:justify;
}

/*codes Java code*/
pre.java_code {
    white-space: pre;
    line-height: 1.6;
	font-size:14px;
    padding-left:10px;
    color:#b5b4aa;
	background:#141313;
	overflow: auto;
}
pre.java1{
	height: 1200px;
}
pre.java_code::before {
    counter-reset: listing;
}

pre.java_code code {
    counter-increment: listing;
}
pre.java_code code::before {
    content: counter(listing) ".  ";
    display: inline-block;
    padding-left: auto;
    margin-left: auto;
    text-align: right;
}
code .reserved{
	color:#8da0eb;
	font-weight:bold;
}
code .orange{
	color:#e6b26e;
	font-weight:bold;
}
code .comment{
	color:#14c427;
	font-weight:bold;
}
code .ets{
	color:#c4c014;
	font-weight:bold;
}
code .marks{
	color:#e75151;
}
.singlequoted{
	color:yellow;
}
.doublequoted{
	color:#ef84e7;
}